

#container{
    height:100%;
    width:100%;
}

#header1 {
    font-family:华文行楷;
    font-size:xx-large;
    font-weight:normal;
    color:#FF6600;
    text-align:center;
    padding:15px 0px;
}

#header2 {
    text-align:center;
    padding:25px 0px;
}

#menu {
    height:100%;
    width:10%;
    float:left;
}

#content {
    height:100%;
    width:80%;
    float:left;
}

#footer {
    clear:both;
    text-align:center;
    font-family:微软雅黑;
    font-size:small;
    font-weight: normal;
    color: #009933
}

/*
#header {
    border-top: 1px dashed #246;
}



#footer {
    margin-top: 20px;
    text-align: center;
    border: 5px solid #75143F;
    border: 5px solid rgba(255,0,80,0.42);
    border-width: 5px 10px;
}

#footer p{
    background: #341D36;
    background: rgba(255,0,80,0.15);
    padding: 1em;
    margin: 0;
}

#footer a{
    color: #967;
}

#footer a:hover {
    border-bottom: 1px solid #967;
}

*/
